{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Корзина</h2>
    <h5 class="mb-4" id="summ">0 ₽</h5>
    <a href="/checkout" class="btn btn-warning">Сделать заказ</a>
    <div id="cart-container">
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", RefreshList);

    async function RefreshList() {
        const response = await fetch("/cart/json");
        const data = await response.json();

        const container = document.getElementById("cart-container");
        const summ_text = document.getElementById("summ");

        // очистка
        container.innerHTML = "";

        if (!data.items || data.items.length === 0) {
            container.innerHTML = `
                <div class="alert alert-info">
                    Корзина пуста
                </div>
            `;
            let summ = 0;
            summ_text.innerHTML = `Итого: ${summ} ₽`;
            return;
        }

        // создаём таблицу
        let table = `
        <div class="table-responsive">
            <table class="table align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Товар</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Всего</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
        `;

        let summ = 0;
        for (const item of data.items) {
            table += `
                <tr>

                    <td style="width: 100px;">
                        <img src="${item.img}"
                             class="img-fluid rounded"
                             style="max-height: 70px;">
                    </td>

                    <td>
                        <a href="${item.link}">
                            ${item.title}
                        </a>
                    </td>

                    <td>
                        ${item.price} ₽
                    </td>

                    <td>
  <input style="max-width: 80px;" data-item-id="${item.id}" type="number" class="form-control qnt-edit" placeholder="" value="${item.quantity}" aria-describedby="button-addon1">
                    </td>

                    <td>
                        ${item.quantity * item.price} ₽
                    </td>

                    <td>
                        <button class="btn btn-sm btn-danger"
                                onclick="deleteItem(${item.id})">
                            Удалить
                        </button>
                    </td>

                </tr>
            `;
            summ += item.price * item.quantity
        }

        table += `
                </tbody>
            </table>
        </div>
        `;

        container.innerHTML = table;
        summ_text.innerHTML = `Итого: ${summ} ₽`;

        for (const input of document.querySelectorAll(".qnt-edit"))
            input.addEventListener('change', e => changeQntItem(e));
    }

    async function changeQntItem(event) {
        id = event.target.dataset.itemId;
        q = event.target.value;
        if (q == 0) {
            await deleteItem(id)
        }

        data = { op: "qnt", id: id, q: q }
        await fetch(`/cart`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json' // Alert the server you're sending JSON
            },
            body: JSON.stringify(data)
        });
    }

    async function deleteItem(id) {
        data = { op: "del", id: id }
        await fetch(`/cart`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json' // Alert the server you're sending JSON
            },
            body: JSON.stringify(data)
        });

        RefreshList();
    }

</script>

{% endblock %}