{% extends "base.html" %}

{% block content %}

<h3>Товары</h3>

{% if num > 0 %}
<h5>Найдено {{num}} совпадений.</h5>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-4 row-cols-lg-6 g-6">
        {% for item in items %}
        <div class="col">
            <a href="/product/{{item.id}}" style="text-decoration: none; color: inherit;">
                <div class="card" style="line-height: 1; width: 110%; height: 95%; margin-bottom: 15px;">
                    <img class="card-img-top" src={{item.image}} alt="Card image cap"
                        onerror='this.onerror=null; this.src="https://era74.ru/media/catalog/2019/08/06/no-photo_94BoRIW.png"'>
                    <div class="card-body">
                        <h5 class="card-title">{{item.price}}₽</h5>
                        <p class="card-text" style="font-size: 13px;">{{((item.good_marks / (item.good_marks +
                            item.bad_marks)) * 100) | round |
                            int}}%
                            {{item.bought}} купили<br><br>{{item.title[:40]}}...</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h5>Ничего не найдено</h5>
{% endif %}


{% endblock %}